body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h2, p {
    margin: 0;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Button */
.btn {
    display: flex;
    overflow: hidden;
    margin: 10px;
    padding: 12px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    color: #fff;
    border: 0 none;
    border-radius: 36px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
}

.action_btn, .cat_btn {
    flex: 0;
    padding: 6px 12px;
}

.cat_btn {
    overflow: initial;
}

.regular {
    color: #202129;
    background-color: #f2f2f2;
}

.salmon {
    background-color: #f32c52 !important;
}

.ocean {
    background-color: #416dea;
}

.sun {
    background-color: #feee7d;
}

.grass {
    background-color: #3dd28d !important;
}

/* Burger menu */
#overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 40;
    cursor: pointer;
    opacity: 0;
    transform: scale(0, 0);
    transition: opacity 300ms ease-in-out;
}

aside {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 50;
    padding: 40px;
    cursor: pointer;
    transform: translate3d(-100%, 0, 0);
    transition: all 300ms ease-in-out;
}

#overlay.open {
    opacity: 1;
    transform: scale(1, 1);
}

aside.open {
    transform: translate3d(0, 0, 0);
}

aside ul, aside a {
    text-decoration: none;
    list-style: none;
}

aside h2, aside a, aside p {
    color: #fff;
}

aside li a:hover {
    color: #b2b2b2;
}

aside #logout:hover {
    color: #f32c52;
}

aside div:first-child p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

header div:first-child {
    display: flex;
    align-items: center;
}

header i {
    font-size: 2rem !important;
    cursor: pointer;
}

header i, header h1 {
    margin-left: 1rem;
    color: #fff;
}

/* Login & Register */
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 50px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.box.open {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.box h1 {
    text-align: center;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label {
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.box input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.box .inputBox input[type="date"]~label {
    top: -18px;
    left: 0;
    font-size: 12px;
}

.box .inputBox textarea {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 5rem;
    margin-bottom: 1rem;
}

.box .inputBox textarea~label {
    top: -30px;
    left: 0;
    font-size: 12px;
}

.box .inputBox textarea:focus~label,
.box .inputBox textarea:valid~label {
    color: #03a9f4;
}

.box .inputBox #picture~label {
    color: #fff;
}

/* Table Style */
/*** Table Styles **/

.table-fill {
    background: #fff;
    border-radius: 3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color: #D5DDE5;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border-top: 1px solid #c1c3d1;
    border-bottom: 1px solid #c1c3d1;
    color: #666b85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background: #4e5066;
    color: #fff;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #ebebeb;
}

tr:nth-child(odd):hover td {
    background: #4e5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #fff;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #c1c3d1;
}

td:last-child {
    border-right: 0px;
}